@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='@Url.Content("~/Content/Css/GoJsTest.css")' rel="stylesheet" />
</head>
<body>
    <div id="myDragramDiv"></div>
     <div id="contextMenu" style="position: absolute;display:none;">
        <ul>
          <li id="cut"><a href="#" target="_self">Cut</a></li>
          <li id="copy"><a href="#" target="_self">Copy</a></li>
          <li id="paste"><a href="#" target="_self">Paste</a></li>
          <li id="delete"><a href="#" target="_self">Delete</a></li>
          <li id="color" class="hasSubMenu"><a href="#" target="_self">Color</a>
            <ul class="subMenu" id="colorSubMenu">
                <li><a href="#" target="_self">Red</a></li>
                <li><a href="#" target="_self">Green</a></li>
                <li><a href="#" target="_self">Blue</a></li>
                <li><a href="#" target="_self">Yellow</a></li>
            </ul>
          </li>
        </ul>
      </div> 
</body>
    <script src='@Url.Content("~/components/gojs/go.js")'></script>
    <script src='@Url.Content("~/Scripts/GoJsTest.js")'></script>
    <script>
        var gojs = new GoJsTest();
        gojs.InitUI();
    </script>
</html>
